/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/org/cocos2dx/lib/*.class
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/com/chukong/cocosplay/client/*.class
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/org/cocos2dx/utils/*.class
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/*.obj
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/*.tlog
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*.obj
/lottery/runtime/win32/src/cocos/cocos2d/*.lua
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.tlog
/lottery/runtime/win32/src/*.lua
/lottery/runtime/win32/src/app/Game/FingerPrint/*.lua
/lottery/runtime/win32/src/app/Game/*.lua
/lottery/runtime/win32/src/app/*.lua
/lottery/runtime/win32/src/app/Util/*.lua
/lottery/runtime/win32/src/app/scenes/*.lua
/lottery/runtime/win32/src/cocos/cocosbuilder/*.lua
/lottery/runtime/win32/src/cocos/cocosdenshion/*.lua
/lottery/runtime/win32/src/cocos/cocostudio/*.lua
/lottery/runtime/win32/src/cocos/controller/*.lua
/lottery/runtime/win32/src/cocos/extension/*.lua
/lottery/runtime/win32/src/cocos/framework/*.lua
/lottery/runtime/win32/src/cocos/framework/components/*.lua
/lottery/runtime/win32/src/cocos/framework/extends/*.lua
/lottery/runtime/win32/src/cocos/*.lua
/lottery/runtime/win32/src/cocos/network/*.lua
/lottery/runtime/win32/src/cocos/spine/*.lua
/lottery/runtime/win32/src/cocos/ui/*.lua
/lottery/runtime/win32/src/framework/*.lua
/lottery/runtime/win32/src/framework/cc/*.lua
/lottery/runtime/win32/src/framework/cc/components/*.lua
/lottery/runtime/win32/src/framework/cc/components/behavior/*.lua
/lottery/runtime/win32/src/framework/cc/components/ui/*.lua
/lottery/runtime/win32/src/framework/cc/mvc/*.lua
/lottery/runtime/win32/src/framework/cc/net/*.lua
/lottery/runtime/win32/src/framework/cc/sdk/*.lua
/lottery/runtime/win32/src/framework/cc/ui/*.lua
/lottery/runtime/win32/src/framework/cc/uiloader/*.lua
/lottery/runtime/win32/src/framework/cc/utils/*.lua
/lottery/runtime/win32/src/framework/cocos2dx/*.lua
/lottery/runtime/win32/src/framework/deprecated/*.lua
/lottery/runtime/win32/src/framework/platform/*.lua
/lottery/runtime/win32/*
/lottery/runtime/win32/*.dll
/lottery/runtime/win32/*.exe
/lottery/runtime/win32/*.ilk
/lottery/runtime/win32/*.pdb
/lottery/runtime/win32/res/*.txt
/lottery/runtime/win32/res/*.png
/lottery/runtime/win32/res/fingerprint/*.png
/lottery/runtime/win32/res/fingerprint/*.bmp
/lottery/runtime/win32/res/fingerprint/*.jpg
/lottery/runtime/win32/res/luckrabit/*.png
/lottery/runtime/win32/res/luckrabit/*.jpg
/lottery/runtime/win32/res/*.jpg
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/classes/com/facebook/android/*.class
/lottery/frameworks/runtime-src/proj.android/bin/classes/org/cocos2dx/lottery/*.class
/lottery/frameworks/runtime-src/proj.android/bin/*.xml
/lottery/frameworks/runtime-src/proj.android/bin/*.txt
/lottery/frameworks/runtime-src/proj.android/bin/*.dex
/lottery/frameworks/runtime-src/proj.android/bin/classes/org/cocos2dx/lua/*.class
/lottery/frameworks/runtime-src/proj.android/bin/dexedLibs/*.jar
/lottery/frameworks/runtime-src/proj.android/bin/*.apk
/lottery/frameworks/runtime-src/proj.android/bin/res/crunch/drawable-hdpi/*.png
/lottery/frameworks/runtime-src/proj.android/bin/res/crunch/drawable-ldpi/*.png
/lottery/frameworks/runtime-src/proj.android/bin/res/crunch/drawable-mdpi/*.png
/lottery/frameworks/runtime-src/proj.android/bin/*.ap_
/lottery/frameworks/runtime-src/proj.android/gen/org/cocos2dx/lottery/*.java
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.Build.CppClean.log
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.lastbuildstate
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.log
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.vcxprojResolveAssemblyReference.cache
/lottery/frameworks/cocos2d-x/cocos/2d/libcocos2d.vcxproj.user
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.Build.CppClean.log
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.lastbuildstate
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.log
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/vc110.idb
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/vc110.pdb
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/AndroidManifest.xml
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/libcocos2dx.jar
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/gen/org/cocos2dx/lib/BuildConfig.java
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/CL.read.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/CL.write.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/Lib-link.read.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/Lib-link.write.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/cl.command.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/lib.command.1.tlog
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/quick_libs.Build.CppClean.log
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/quick_libs.lastbuildstate
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/quick_libs.log
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/vc110.idb
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/vc110.pdb
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/libluacocos2d.Build.CppClean.log
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/libluacocos2d.lastbuildstate
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/libluacocos2d.log
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/libluacocos2d.vcxprojResolveAssemblyReference.cache
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.Build.CppClean.log
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.lastbuildstate
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.log
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/vc110.idb
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/vc110.pdb
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/gen/com/facebook/android/BuildConfig.java
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/gen/com/facebook/android/R.java
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/AndroidManifest.xml
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/com/facebook/android/BuildConfig.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/org/cocos2dx/plugin/FacebookWrapper.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/org/cocos2dx/plugin/ShareFacebook$FacebookDialogCallback.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/org/cocos2dx/plugin/ShareFacebook.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/org/cocos2dx/plugin/UserFacebook$SessionStatusCallback.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/bin/classes/org/cocos2dx/plugin/UserFacebook.class
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/gen/com/facebook/android/BuildConfig.java
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/libsimulator.Build.CppClean.log
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/libsimulator.lastbuildstate
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/libsimulator.log
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/vc110.pdb
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/.settings/*.prefs
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/.settings/*.prefs
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/*.xml
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/*.txt
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/*.jar
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/res/crunch/drawable-hdpi/*.png
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/res/crunch/drawable-ldpi/*.png
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/res/crunch/drawable-mdpi/*.png
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/res/crunch/drawable-xhdpi/*.png
/lottery/frameworks/cocos2d-x/plugin/plugins/facebook/proj.android/DependProject/bin/res/crunch/drawable/*.png
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.obj
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.lib
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.dll
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.res
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.exp
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.pdb
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.log
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.lastbuildstate
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.cache
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.idb
/lottery/frameworks/runtime-src/proj.win32/Debug/*.lib
/lottery/frameworks/runtime-src/proj.win32/*.sdf
/lottery/frameworks/runtime-src/proj.win32/*.suo
/lottery/frameworks/runtime-src/proj.win32/*.opensdf
/lottery/Log/*.log
/OwlUnity/3rd/curl/build/Win32/VC11/DLL Debug/lib/*.obj
/OwlUnity/3rd/7zlib/Debug/*.obj
/OwlUnity/3rd/7zlib/Debug/*.tlog
/OwlUnity/3rd/7zlib/Debug
/OwlUnity/3rd/curl/build/Win32/VC11/DLL Debug/lib
/OwlUnity/3rd/curl/build/Win32/VC11/DLL Debug
/OwlUnity/3rd/curl/build/Win32/VC11/LIB Debug/lib
/OwlUnity/3rd/curl/build/Win32/VC11/LIB Debug
/OwlUnity/3rd/lualib/*.user
/OwlUnity/3rd/lualib/*.filters
