/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/cocos/2d/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/org/cocos2dx/lib/*.class
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/com/chukong/cocosplay/client/*.class
/lottery/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/org/cocos2dx/utils/*.class
/lottery/frameworks/cocos2d-x/cocos/quick_libs/proj.win32/Debug/*.obj
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/*.tlog
/lottery/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/*.obj
/lottery/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.obj
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*.obj
/lottery/runtime/win32/src/cocos/cocos2d/*.lua
/lottery/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*.tlog
/lottery/frameworks/runtime-src/proj.win32/Debug.win32/*.tlog
/lottery/runtime/win32/src/*.lua
/lottery/runtime/win32/src/app/Game/FingerPrint/*.lua
/lottery/runtime/win32/src/app/Game/*.lua
/lottery/runtime/win32/src/app/*.lua
/lottery/runtime/win32/src/app/Util/*.lua
/lottery/runtime/win32/src/app/scenes/*.lua
/lottery/runtime/win32/src/cocos/cocosbuilder/*.lua
/lottery/runtime/win32/src/cocos/cocosdenshion/*.lua
/lottery/runtime/win32/src/cocos/cocostudio/*.lua
/lottery/runtime/win32/src/cocos/controller/*.lua
/lottery/runtime/win32/src/cocos/extension/*.lua
/lottery/runtime/win32/src/cocos/framework/*.lua
/lottery/runtime/win32/src/cocos/framework/components/*.lua
/lottery/runtime/win32/src/cocos/framework/extends/*.lua
/lottery/runtime/win32/src/cocos/*.lua
/lottery/runtime/win32/src/cocos/network/*.lua
/lottery/runtime/win32/src/cocos/spine/*.lua
/lottery/runtime/win32/src/cocos/ui/*.lua
/lottery/runtime/win32/src/framework/*.lua
/lottery/runtime/win32/src/framework/cc/*.lua
/lottery/runtime/win32/src/framework/cc/components/*.lua
/lottery/runtime/win32/src/framework/cc/components/behavior/*.lua
/lottery/runtime/win32/src/framework/cc/components/ui/*.lua
/lottery/runtime/win32/src/framework/cc/mvc/*.lua
/lottery/runtime/win32/src/framework/cc/net/*.lua
/lottery/runtime/win32/src/framework/cc/sdk/*.lua
/lottery/runtime/win32/src/framework/cc/ui/*.lua
/lottery/runtime/win32/src/framework/cc/uiloader/*.lua
/lottery/runtime/win32/src/framework/cc/utils/*.lua
/lottery/runtime/win32/src/framework/cocos2dx/*.lua
/lottery/runtime/win32/src/framework/deprecated/*.lua
/lottery/runtime/win32/src/framework/platform/*.lua
/lottery/runtime/win32/*
/lottery/runtime/win32/*.dll
/lottery/runtime/win32/*.exe
/lottery/runtime/win32/*.ilk
/lottery/runtime/win32/*.pdb
/lottery/runtime/win32/res/*.txt
/lottery/runtime/win32/res/*.png
/lottery/runtime/win32/res/fingerprint/*.png
/lottery/runtime/win32/res/fingerprint/*.bmp
/lottery/runtime/win32/res/fingerprint/*.jpg
/lottery/runtime/win32/res/luckrabit/*.png
/lottery/runtime/win32/res/luckrabit/*.jpg
/lottery/runtime/win32/res/*.jpg
