<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,112},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
            <key>MM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,57},{188,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,54}}</string>
                <key>sourceSize</key>
                <string>{188,54}</string>
            </dict>
            <key>MM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,703},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>MM04.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,766},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>MM05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{625,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,143}}</string>
                <key>sourceSize</key>
                <string>{625,143}</string>
            </dict>
            <key>MM06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{278,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,53}}</string>
                <key>sourceSize</key>
                <string>{278,53}</string>
            </dict>
            <key>MM07.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,144},{97,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,32}}</string>
                <key>sourceSize</key>
                <string>{97,32}</string>
            </dict>
            <key>MM08.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,300},{92,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM09.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,587},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,114}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,113},{636,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,166}}</string>
                <key>sourceSize</key>
                <string>{636,166}</string>
            </dict>
            <key>MM12.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,288},{94,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,10}}</string>
                <key>sourceSize</key>
                <string>{94,10}</string>
            </dict>
            <key>MM13.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,150},{115,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,13}}</string>
                <key>sourceSize</key>
                <string>{115,13}</string>
            </dict>
            <key>MM14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,175},{102,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM15.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,652},{82,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{82,112}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM16.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,178},{96,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{96,108}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM17.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{98,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{98,108}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM18.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,375},{92,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,108}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM19.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,279},{94,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{94,110}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM20.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,469},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM21.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,57},{88,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{88,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM22.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,536},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,114}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM23.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,418},{100,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>MM24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,146}}</string>
                <key>sourceSize</key>
                <string>{640,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f0f75bf64678f59db6a6dbbfa9f8b1$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
